body
{

}
.btn {
  background: #d93497;
  background-image: -webkit-linear-gradient(top, #d93497, #2980b9);
  background-image: -moz-linear-gradient(top, #d93497, #2980b9);
  background-image: -ms-linear-gradient(top, #d93497, #2980b9);
  background-image: -o-linear-gradient(top, #d93497, #2980b9);
  background-image: linear-gradient(to bottom, #d93497, #2980b9);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #d9347e);
  background-image: -moz-linear-gradient(top, #3cb0fd, #d9347e);
  background-image: -ms-linear-gradient(top, #3cb0fd, #d9347e);
  background-image: -o-linear-gradient(top, #3cb0fd, #d9347e);
  background-image: linear-gradient(to bottom, #3cb0fd, #d9347e);
  text-decoration: none;
}
hr
{
  border-width: 2px;
  border-bottom: none;
}
.tdash
{
text-align: left;
}
.container
{
  margin-left: 1000px;;
  display: inline-block;
  cursor: pointer;
}
.bar1, .bar2, .bar3
{
  width: 35px;
  height:5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1
{
  transform: translate(0,11px) rotateX(-45deg);
}
.change .bar2
{
opacity: 0;
}
.change .bar3
{
  transform: translate(0,-11px) rotate(45deg);
}
.home
{
padding-left: 50px;
}
.frqst
{
  padding-left: 100px;
  margin-top: 15%;
  cursor: pointer;
}
.notifications
{
  padding-left: 100px;
  margin-top: 15%;
  cursor: pointer;
}

  /* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 15px;
  border: 1px solid grey;
  float: left;
  width: 250px;
  background: #f1f1f1;
  margin-left: 250px;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 10px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  /* display: table; */
}
.top-container
{
  background-color:#7FFF00;
}
.middle-container
{
  background-color:#33ccff;
}
.bottom-container
{
text-align:left;
}
.xaid-circular
{
border-radius: 110%;
height: 50px;
width: 50px;
}
.hydra
{

}
.hydra-circular
{
  border-radius: 25%;
  height: 200px;
  width: 200px;
  margin-left: 70px;
}

.like
{
  margin-left:100px;
  cursor: pointer;

}
.commentbox
{
  margin-left:30px;
  cursor: pointer;
  height: 20px;
  width: 10px;
}
.sharebox
{
  margin-left: 30px;
  cursor: pointer;
  height: 40px;
  width: 30px;
}
.habiba-circular
{
  border-radius: 110%;
  height: 50px;
  width: 50px;
}
.habib-dp
{
  border-radius: 25%;
  height: 200px;
  width: 200px;
  margin-left: 70px;
  border: 6px blue;
}
.syed-xaid
{
  border-radius: 110%;
  height: 50px;
  width: 50px;
}
.xaid-dp
{
  border-radius: 25%;
  height: 200px;
  width: 200px;
  margin-left: 70px;
  border: 6px blue;
}
.hhh
{
  cursor: pointer;
}
.ggg
{
  cursor: pointer;
}
